

.fullCard {
    /*padding: 10px;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 5px;*/
    width: 45%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #F8F5E9;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cardContent {
    padding: 20px;

}
h4{
    /*font-family: 'Abril Fatface', cursive;*/
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    /*font-family: 'Crimson Text', serif;*/
    /*font-family: 'Piazzolla', serif;*/
    text-align: justify;
}
#numberpage {
    display: flex;
    justify-content: center;
}