input[type=text], input[type=password],input[type=email] {
    padding: 12px 14px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    border-bottom: 1.5px solid #171717;
}
input[type=submit]{
    /*border: none;*/
    /*text-align: center;*/
    /*background-color: #0A9EE6;*/
    /*color: white;*/

    border: none;
    background-color: #D2B340;
    color: white;
    padding: 15px;
    width: 200px;
    font-size: 15px;
    margin-top: 10px;
}

input:focus {
    outline:none;
}

button:hover {
    opacity: 0.8;
}

button {
    border: none;
    cursor: pointer;
    background-color: #D2B340;
    color: white;
    padding: 15px 70px;
    margin: 15px auto;
}
.container {
    padding: 16px;
    width: 200px;
    margin: 0 auto;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}




