<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/forms.css"/>
</head>
<body>
<h1>Login</h1>
<div class="container">
    <form th:action="@{/auth}" method="post">

        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email"
               required>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password"
               required>

        <button type="submit">Sign In</button>
    </form>
    <a th:href="@{/signup}">
        <button>Sign Up</button>
    </a>
</div>
</body>
</html>