<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head lang="en" th:replace="snippets/header :: header"> </head>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bulletin.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div th:include="snippets/header::head"></div>

    <h1>Bulletin Board</h1>

    <div class="fullCard" th:each="article: ${articles}">
    <div class="cardContent" >
        <h4 th:text="${article.title}"></h4>
        <p th:text="${article.text}"></p>
        <h5 th:text="${article.author}"></h5>
    </div>
</div>

    <div class="fullCard" th:each="article: ${search}">
        <div class="cardContent" >
            <h4 th:text="${article.title}"></h4>
            <p th:text="${article.text}"></p>
            <h5 th:text="${article.author}"></h5>
        </div>
    </div>

    <span th:if="${numberOfPages!= null && numberOfPages!= 0} ">
        <span id="numberpage" th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
            <a style="text-decoration: none" th:href="@{/art/page/{no}(no=${i})}" th:text="${i}"></a>
        </span>
    </span>
</body>
</html>