<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
    <h1>Sign Up</h1>

<form th:object="${userRegisterModel}" th:action="@{/signup}" method="post">

    <div class="container">
        <label for="firstname">First Name</label>
        <input type="text" th:field="*{firstName}" id="firstname"  placeholder="First name"
               required>

        <label for="lastname">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastname"  placeholder="Last Name"
               required>

        <label for="inputEmail">Email address</label>
        <input type="email" th:field="*{email}" id="inputEmail"  placeholder="Email address"
               required>

        <label for="inputPassword">Password</label>
        <input type="password" th:field="*{password}" id="inputPassword"  placeholder="Password"
               required>

        <input type="submit" value="Sign Up">
    </div>
</form>
</body>
</html>